In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('sample_data.csv')

In [4]:
df.head()

,name,url,version,ein,founded,mission,board,employees,volunteers,has_new_program,...,net_assets,current_endowment,minus1_endowment,minus2_endowment,minus3_endowment,minus4_endowment,percent_board_endowment,percent_permanent_endowment,percent_temporary_endowment,officers
0,FIRST CHINESE PRESBYTERIAN COMMUNITY AFFAIRS H...,https://s3.amazonaws.com/irs-form-990/20113307...,2010,133011752,1979,TO PROVIDE HOME ATTENDANT SERVICES TO OVER 100...,9,1533,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,"[['Jimmy Shek', 0], ['Tong Chan', 0], ['Calvin..."
1,LOUISIANA ASSOCIATION OF COMPUTER USING EDUCATORS,https://s3.amazonaws.com/irs-form-990/20121061...,2010,721114738,1985,TO IMPROVE CLASSROOM INSTRUCTION BY USING TECH...,18,0,18,0,...,721092,0,0,0,0,0,0.0,0.0,0.0,"[['SHERYL ABSHIRE', 0], ['PATSY WHITLOW', 0], ..."
2,PEWAUKEE LAKE SAILING SCHOOL INC,https://s3.amazonaws.com/irs-form-990/20120300...,2011,390929969,1956,TO TEACH THE SCIENCE OF SAILING.,7,13,0,0,...,1048013,0,0,0,0,0,0.0,0.0,0.0,"[['TY GUTENKUNST', 0], ['KIM TORNEHL', 0], ['T..."
3,NATIONAL JUNIOR BASKETBALL NORTHWEST CHAPTER,https://s3.amazonaws.com/irs-form-990/20130281...,2012,273767766,2009,"COMMUNITY SERVICE BY ORGANIZING, SUPPORTING AN...",1,0,5,0,...,50340,0,0,0,0,0,0.0,0.0,0.0,"[['EUGENE BOWEN', 7000]]"
4,ST PAUL USBC ASSOCIATION,https://s3.amazonaws.com/irs-form-990/20121332...,2011,203178128,2005,AMATEUR SPORTS - BOWLING,22,3,40,0,...,164220,0,0,0,0,0,0.0,0.0,0.0,"[['CAROLE EDWARDS', 0], ['CASEY CORBETT', 0], ..."